@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: linear-gradient(90deg, #30aa6d 30%, #bdeedd 100%);
}

.focusForm:focus {
    background-color: #e1703834;
    outline-color: #e17038;
}

.containerGrid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}