@tailwind base;
@tailwind components;
@tailwind utilities;

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }


.gradient {
    background: linear-gradient(90deg, #30aa6d 30%, #bdeedd 100%);
  }