@tailwind base;
@tailwind components;
@tailwind utilities;

.focusForm:focus {
    background-color: #e1703834;
    outline-color: #e17038;
}


.containerGrid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

@media screen and (max-width: 768px)
{
    .containerGrid1
  {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, minmax(100px, auto));
    grid-row-gap: 40px;
  }
}

#addUser {
  display: none;
}

.gradient {
  background: linear-gradient(90deg, #30aa6d 30%, #83e6b4  100%);
}